body, html {
    height:100%;
    overflow: hidden;
}

/*
 * Off Canvas sidebar at medium breakpoint
 * --------------------------------------------------
 */
 @media screen and (min-width: 991px) {
  

 }

@media screen and (max-width: 991px) {

  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -25%;
  }

  .row-offcanvas-left.active {
    left: 25%;
    margin-left: -6px;
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 25%;
    height: 100%;
    overflow: auto;
  }
}

/*
 * Off Canvas wider at sm breakpoint
 * --------------------------------------------------
 */
@media screen and (max-width: 570px) {
  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -70%;
  }

  .row-offcanvas-left.active {
    left: 70%;
    margin-left: -1px;
  }
  
  .sidebar-offcanvas {
    width: 70%;
  }
  
  .redes{
    display: none;
  }

  .profile p{
    display: none;
  }
  .profile img{
      width: 80px;
  }
}

.card-lista {
    overflow:hidden;
    cursor: pointer;
}

.card-body .rotate {
    z-index: 8;
    float: right;
    height: 100%;
}

.card-body .rotate i {
    color: rgba(20, 20, 20, 0.15);
    position: absolute;
    left: 0;
    left: auto;
    right: -10px;
    bottom: 0;
    display: block;
    -webkit-transform: rotate(-44deg);
    -moz-transform: rotate(-44deg);
    -o-transform: rotate(-44deg);
    -ms-transform: rotate(-44deg);
    transform: rotate(-44deg);
}
