/* Main */
.main{
    background-color: var(--background);
}
/* --- Bread Crumb --- */
.bread-crumbs-section{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
    min-width: 320px;
    height: auto;
    text-align:start;
    background: var(--secondary);
    position: fixed;
    z-index: 1;
    
    
}
.breadcrumbs{
    padding: 10px;

}
ul{
    margin-bottom:0 ;
    
}
h4{
    font-size: 20px;
}
.breadcrumbs__item{
    display: inline-block;
}
.breadcrumbs__item:not(:last-of-type)::after{
    content: '\203a';
    margin: 0 5px;
    color: var(--warm-black);
}
.breadcrumbs__link{
    text-decoration: none;
    color: var(--warm-black);
    font-size: 14px;
}
.breadcrumbs__link:hover{
    text-decoration: underline;
}
.breadcrumbs__link--active{
    color: var(--rose);
    font-weight: 500;

}


@media (min-width: 1396px) {
    .bread-crumbs-section{
        width: 1163.34px;
    }
  }

/* -- Profiles -- */
.profile{
    margin-top: 68px;
    padding: 10px;
    width: 100%;
    height: auto;
    
    
}
.profile-content{
    text-align: start;
    max-width: 600px;
    margin: 0 auto;
}
.profile img{
    align-items: center;
    max-width: 170px;
    margin: 0 auto;
    border-radius: 50%;
    box-shadow:0 4px 8px rgba(89,73,30,0.16);
    transition: .2s;
}
.profile img:hover{
    box-shadow:0 4px 120px rgba(89,73,30,0.16);
}
.profile-description{
    padding: 10px;
    font-size: 13px;
}

/* --- Albumes --- */
.entrada{
    padding:10px;
	font-weight:bold;
	font-size:20px;
	border-bottom:1px solid var(--dark-blue);
	margin:0 20px 10px 20px;
    color: var(--dark-blue);
    box-shadow:0 4px 8px rgba(89,73,30,0.16);
}
/* ---- Boton de ver todas las canciones --- */
.button-todo{
    padding: 10px;
    width: auto;
    height: auto;
    font-size: 18px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    color: var(--just-white);
    background-color: var(--rose);
    border-radius: 10px;
    cursor: pointer;
}
.button-todo:hover{
    color: var(--just-white);
    text-decoration: underline;
}

@media (min-width: 768px) {

    .button-todo, .button-todo::after {
        
        font-family: 'DM Sans', sans-serif;
        background: linear-gradient(45deg, transparent 5%, var(--rose) 5%);
        border: 0;
        color: #fff;
        letter-spacing: 3px;
        line-height: 50px;
        box-shadow: 6px 0px 0px var(--secondary);
        outline: transparent;
        position: relative;
        cursor:pointer;
        padding: 10px;
        margin-top:10px;
        margin-bottom: 10px;
    }
  
    .button-todo::after {
        --slice-0: inset(50% 50% 50% 50%);
        --slice-1: inset(80% -6px 0 0);
        --slice-2: inset(50% -6px 30% 0);
        --slice-3: inset(10% -6px 85% 0);
        --slice-4: inset(40% -6px 43% 0);
        --slice-5: inset(80% -6px 5% 0);
    
        content: 'AVAILABLE NOW';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(45deg, transparent 3%, #00E6F6 3%, #00E6F6 5%, #FF013C 5%);
        text-shadow: -3px -3px 0px #F8F005, 3px 3px 0px #00E6F6;
        clip-path: var(--slice-0);
    } 
    .button-todo:hover {
        text-decoration: none;
        color: var(--just-white);
    }

    .button-todo:hover::after {
        animation: 1s glitch;
        animation-timing-function: steps(2, end);
    }
  
    @keyframes glitch {
        0% {
            clip-path: var(--slice-1);
            transform: translate(-20px, -10px);
        }
        10% {
            clip-path: var(--slice-3);
            transform: translate(10px, 10px);
        }
        20% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 10px);
        }
        30% {
            clip-path: var(--slice-3);
            transform: translate(0px, 5px);
        }
        40% {
            clip-path: var(--slice-2);
            transform: translate(-5px, 0px);
        }
        50% {
            clip-path: var(--slice-3);
            transform: translate(5px, 0px);
        }
        60% {
            clip-path: var(--slice-4);
            transform: translate(5px, 10px);
        }
        70% {
            clip-path: var(--slice-2);
            transform: translate(-10px, 10px);
        }
        80% {
            clip-path: var(--slice-5);
            transform: translate(20px, -10px);
        }
        90% {
            clip-path: var(--slice-1);
            transform: translate(-10px, 0px);
        }
        100% {
            clip-path: var(--slice-1);
            transform: translate(0);
        }
    }
}
/* --- ALBUMES--- */
.cards {
    width: 100%;
    height: auto;
    padding: 10px 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;   
    z-index: 1;
    max-width: 1300px;
    margin: 0 auto;
}
.card{
    border: 1px solid var(--warm-black);
    box-shadow:  0 0px 8px var(--dark-blue);
    cursor: pointer;
    transition: all 400ms ease;
}
.card:hover{
    transform: translateY(-3%);
    box-shadow:  0 4px 8px var(--dark-blue);
    text-decoration: none;
}

.card__image {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;

}

.card__content {
    line-height: 1.5;
    font-size: 14px;
    padding: 15px;
    background-color: var(--just-white);
    color: var(--dark-blue);

}
.card__content h4{
    margin: 0;
}

.card__content > p:first-of-type {
    margin-top: 0;
}

.card__content > p:last-of-type {
    margin-bottom: 0;
}

.colaboradores h4 a{
    font-size: 20px;
    color: var(--dark-blue);
}
.colaboradores div{
    padding-top: 10px;
    padding-bottom: 10px;
}


/* --- Lista de canciones --- */

.lista-canciones{
    margin: 20px;
    color: var(--dark-blue);
    box-shadow:0 4px 8px rgba(89,73,30,0.16);
}
.card-header{
    background-color: var(--background);
    font-weight: bold;
}
.card-block{
    background-color: var(--just-white);
    padding: 0;
}
.recurso{
    padding: 10px;
    margin-bottom: 5px ;
    border: 1px solid var(--dark-blue);
}
.recurso a{
    color: var(--rose);
    text-decoration: underline;
}